body{
	background-color: #e3e4e5;
}

#main-title{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	text-align: center;
	flex-wrap: nowrap;
	background-color: #4d657c;
}

#navbar  div{
	width: 100%;
	border: solid;
	border-width: 1px;
	align-items: center;
}

#navbar a{
	padding: 1em;
	color: black;
	text-decoration: none;
	font-size: 1.4em;
	color: #fefefe;
}

#navbar > div{
	display: flex;
	justify-content: space-around;
}

#site{
	display: flex;
	justify-content: space-around;
	width: 80%;
	background-color: #f4f6f9;
	margin-bottom: 2em;
	box-shadow: 0.05em 0.15em #aaaaaa;
}

#site #left-column{
	width: 21%;
}

#site #content{
	padding: 5em 6em;
	width: 70%;
	text-align: left;
}

#left-column  div{
	border: solid;
	border-width: 0.1px;
	height: 15em;
}

#site #left-column div .title{
	border: solid 1px;
	height: 20%;
	background-color: #fff6d8;
}

#site #left-column div .subtitle{
	margin: 0;
	padding: 0;
	height: 80%;
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	background-color: #c9d3e2;
}

#site #content .main{
	background-color: #fff6d8; 
    border: solid 1px;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    width: 50%;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    margin-left: 8em;
}

#site #content h1{
	text-align: center;
}

#site #content button{
	background: #4d657c;
	background-image: -webkit-linear-gradient(top, #4d657c, #4d657c);
	background-image: -moz-linear-gradient(top, #4d657c, #4d657c);
	background-image: -ms-linear-gradient(top, #4d657c, #4d657c);
	background-image: -o-linear-gradient(top, #4d657c, #4d657c);
	background-image: linear-gradient(to bottom, #4d657c, #4d657c);
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	border-color: transparent;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-left: 45%;
	margin-bottom: 1em;
}

#site #content button:hover, #site #content input:last-child:hover {
  background: #4c8ac4;
  text-decoration: none;
}

#site #content .ej{
	display: none;
	background-color: #e8e1c9;
	border-radius: 10px;
	padding: 0.5em;
}

#site #content #ant{
	font-size: 5em;
	font-weight: bold;
	text-decoration: none;
	margin-top: 2em;
	width: 50%;
	display: inline-block;
	text-align: left;
	color: #4d657c;
}

#site #content #next{
	font-size: 5em;
	font-weight: bold;
	text-decoration: none;
	margin-top: 2em;
	width: 50%;
	margin-left: 5em;
	display: inline-block;
	text-align: right;
	color: #4d657c;
}

#change{
	display: flex;
}

.menu-l {
	width: 2.2rem;
	height: 2.7rem;
	background: #4d657c;
	border-radius: 0.5rem;
	position: fixed;
	top: 50%;
	left: 5%;
	font-family: sans-serif;
	font-size: 2rem;
	color: white;
	text-align: center;
	transition: left 0.7s;
}

.checkbox:checked ~ .menu-l{
	left: 20%;
	border-radius: 0 0.5rem 0.5rem 0;
}

#transition-column{
	width: 20%;
	height: 100%;
	background-color: #4d657c;
	position: fixed;
	top: 0;
	left: -20%;
	transition: left 0.4s;
	padding-top: 2em;
	color: #fefefe;
}

#transition-column .title{
	margin: 0;
	padding-left: 2em;
	padding-top: 0.05em;
	padding-bottom: 1em;
	height: 5%;
}

#transition-column .s{
	margin: 1em;
	height: 5%;
}

#transition-column .s a{
	padding-left: 2em;
}

#transition-column .title:hover{
	background-color: #576f99;
}

#transition-column .subtitle{
	display: none;
}

#transition-column a{
	text-decoration: none;
	color: #fefefe;
	font-weight: bold;
	padding-top: 1em;
}

.checkbox:checked ~ #transition-column{
	left: 0%;
}

.checkbox{
	display: none;
}

.note{
	margin-bottom: 1em;
	margin-right: 2em;
	margin-left: 2em;
	border: solid 1px #4d657c;
	border-radius: 16px;
	padding: 0;
	background-color: #4d657c;
}

.note .tnote{
	margin: 0;
	color: #fefefe;
	padding-left: 1em;
}

.note .cnote{
	padding-left: 2em;
	padding-right: 1em;
	background-color: white;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-radius: 0px 0px 16px 16px;
}

.tab{
	text-align: center;
	border-collapse: collapse;
}

.tab tr td{
	border: 1px solid black;
	padding: 0.4em;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(77, 101, 124, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(77, 101, 124, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.answer{
	visibility: hidden;
}

table tr th, table tr td{
	border: solid 1px #4d657c;
	text-align: center;
	padding: 1em;
	background-color: #fff;
}

table{
	margin-top: 3em;
	margin-bottom: 3em;
}

option{
	margin: 2em;
}

p{
	font-size: 1.2em;
}

@media screen and (max-width: 1100px){
	#navbar a{
		font-size: 1em;
	}
}

@media screen and (max-width: 1500px){
	.special-table{
		font-size: 0.7em;
	}
}