body{
	background-color: #e3e4e5;
}

#main-title{
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	text-align: center;
	flex-wrap: nowrap;
	background-color: #4d657c;
}

#navbar  div{
	width: 100%;
	border: solid;
	border-width: 1px;
	align-items: center;
}

#navbar a{
	padding: 1em;
	color: black;
	text-decoration: none;
	font-size: 1.4em;
	color: #fefefe;
}

#navbar #arrows div{
	padding: 1.4em;
}

#navbar #arrows{
	display: flex;
	border: none;
}

#navbar > div{
	display: flex;
	justify-content: space-around;
}

#site{
	display: flex;
	justify-content: space-around;
	width: 80%;
	background-color: #f4f6f9;
	margin-bottom: 2em;
	box-shadow: 0.05em 0.15em #aaaaaa;
}

#site #left-column{
	width: 21%;
}

#site #content{
	padding: 5em 6em;
	width: 70%;
	text-align: left;
}

#left-column  div{
	border: solid;
	border-width: 0.1px;
	height: 15em;
}

#site #left-column div .title{
	border: solid 1px;
	height: 20%;
	background-color: #fff6d8;
}

#site #left-column div .subtitle{
	margin: 0;
	padding: 0;
	height: 80%;
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	background-color: #c9d3e2;
}

#site #content a{
	background-color: #fff6d8; 
    border: solid 1px;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4em;
    width: 50%;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    margin-left: 8em;
}

#site #content h1{
	text-align: center;
}

#site #content button, #site #content input:last-child{
	background: #4d657c;
	background-image: -webkit-linear-gradient(top, #4d657c, #4d657c);
	background-image: -moz-linear-gradient(top, #4d657c, #4d657c);
	background-image: -ms-linear-gradient(top, #4d657c, #4d657c);
	background-image: -o-linear-gradient(top, #4d657c, #4d657c);
	background-image: linear-gradient(to bottom, #4d657c, #4d657c);
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	border-color: transparent;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-left: 45%;
	margin-bottom: 1em;
}

#site #content button:hover, #site #content input:last-child:hover {
  background: #4c8ac4;
  text-decoration: none;
}

#site #content .ej{
	display: none;
}

#site #content #next{
	margin-top: 2em;
	margin-left: 30em;
	width: 15%;
}

.menu-l {
	width: 2.2rem;
	height: 2.7rem;
	background: #4d657c;
	border-radius: 0.5rem;
	position: fixed;
	top: 50%;
	left: 5%;
	font-family: sans-serif;
	font-size: 2rem;
	color: white;
	text-align: center;
	transition: left 0.7s;
}

.checkbox:checked ~ .menu-l{
	left: 20%;
	border-radius: 0 0.5rem 0.5rem 0;
}

#transition-column{
	width: 20%;
	height: 100%;
	background-color: #4d657c;
	position: fixed;
	top: 0;
	left: -20%;
	transition: left 0.4s;
	padding-top: 2em;
	color: #fefefe;
}

#transition-column .title{
	margin: 0;
	padding-left: 2em;
	padding-top: 0.05em;
	height: 5%;
}

#transition-column .s{
	margin: 0;
	height: 5%;
}

#transition-column .title:hover{
	background-color: #576f99;
}

#transition-column .subtitle{
	display: none;
	padding-left: 3em;
}

#transition-column .subtitle .ss{
	padding-left: 1em;
	display: none;
}

.checkbox:checked ~ #transition-column{
	left: 0%;
}

.checkbox{
	display: none;
}

.note{
	margin-bottom: 1em;
	margin-right: 2em;
	margin-left: 2em;
	border: solid 1px #4d657c;
	border-radius: 16px;
	padding: 0;
	background-color: #4d657c;
}

.note .tnote{
	margin: 0;
	color: #fefefe;
	padding-left: 1em;
}

.note .cnote{
	padding-left: 2em;
	padding-right: 1em;
	background-color: white;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-radius: 0px 0px 16px 16px;
}

.tab{
	text-align: center;
	border-collapse: collapse;
}

.tab tr td{
	border: 1px solid black;
	padding: 0.4em;
}